// #region Properties

$color-default: (
  "accent": #f191a6,
  "primary": #b20932,
  );
$color-light: (
  "accent": #ffeff3,
  "primary": #e54d6c,
);

$muted: ("default": #626262);


$displays: "flex", "block", "flex", "inline-flex", "none", "inline";

@each $theme, $color in $color-default {
  .text-#{$theme} {
      color: $color;
  }
  
  .bg-#{$theme} {
      background-color: $color;
  }
}

@each $theme, $color in $color-light {
  .text-light-#{$theme} {
      color: $color;
  }
  
  .bg-light-#{$theme} {
      background-color: $color;
  }
}

@each $display in $displays {
  .d-#{$display} {
    display: $display;
  }
}

// #endregion

// #region CSS declarations

* {
	padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.row {
	@extend .flex;
	width: 100%;
}

.flex {
	display: flex;
}

// #engregion