@font-face {
  font-family: 'iCiel Koni';
  src: url("assets/font/iCielKoni-Black.eot");
  src: url("assets/font/iCielKoni-Black.eot?#iefix") format("embedded-opentype"), url("assets/font/iCielKoni-Black.woff") format("woff"), url("assets/font/iCielKoni-Black.ttf") format("truetype"), url("assets/font/iCielKoni-Black.svg#iCielKoni-Black") format("svg");
}

@font-face {
  font-family: 'Bebas Neue';
  src: url("assets/font/BebasNeueBold.eot");
  src: url("assets/font/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("assets/font/BebasNeueBold.woff") format("woff"), url("assets/font/BebasNeueBold.ttf") format("truetype"), url("assets/font/BebasNeueBold.svg##BebasNeueBold") format("svg");
}

@font-face {
  font-family: 'SVN-Avo';
  src: url("assets/font/SVN-Avo.eot");
  src: url("assets/font/SVN-Avo.eot?#iefix") format("embedded-opentype"), url("assets/font/SVN-Avo.woff") format("woff"), url("assets/font/SVN-Avo.ttf") format("truetype"), url("assets/font/SVN-Avo.svg#SVN-Avo") format("svg");
}

@font-face {
  font-family: 'SVN-AvoBold';
  src: url("assets/font/SVN-Avobold.eot");
  src: url("assets/font/SVN-Avobold.eot?#iefix") format("embedded-opentype"), url("assets/font/SVN-Avobold.woff") format("woff"), url("assets/font/SVN-Avobold.ttf") format("truetype"), url("assets/font/SVN-Avobold.svg#SVN-Avobold") format("svg");
}

.text-accent {
  color: #f191a6 !important;
}

.bg-accent {
  background-color: #f191a6 !important;
}

.text-primary {
  color: #b20932 !important;
}

.bg-primary {
  background-color: #b20932 !important;
}

.text-muted {
  color: #626262 !important;
}

.bg-muted {
  background-color: #626262 !important;
}

.text-white {
  color: #fff !important;
}

.bg-white {
  background-color: #fff !important;
}

.text-light-accent {
  color: #ffeff3 !important;
}

.bg-light-accent {
  background-color: #ffeff3 !important;
}

.text-light-primary {
  color: #e54d6c !important;
}

.bg-light-primary {
  background-color: #e54d6c !important;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'iCiel Koni';
}

.bebas {
  font-family: 'Bebas Neue';
}

.avo {
  font-family: 'SVN-Avo';
}

.avo-bold {
  font-family: 'SVN-AvoBold';
}

.container-fluid {
  padding: 0 !important;
}

.container-fluid .container-content {
  max-width: 66%;
  width: 100%;
  margin: auto;
}

.cursor-pointer {
  cursor: pointer;
}

section.nav-container {
  background-image: url("/assets/brand/bg-nav.jpg");
  background-size: 100% auto;
  background-position: 60% 20%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100% !important;
}

h1.cadum {
  font-size: 80px;
}

.nav-buttons .btn {
  color: #fff;
  text-shadow: 3px 3px 4px rgba(150, 150, 150, 0.88);
  margin: 0 10px;
  font-size: 24px;
  width: 100px;
  font-weight: normal;
  border: 0 !important;
  border-radius: 0 !important;
}

.nav-buttons .btn:active, .nav-buttons .btn:focus {
  outline: 0;
}

.nav-buttons .btn:hover {
  background: #b20932;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(47%, #b20932), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, #b20932 47%, rgba(0, 0, 0, 0) 100%);
  color: white !important;
  opacity: 0.8;
  -webkit-transition: background 0.15s linear;
  transition: background 0.15s linear;
}

.header-buttons {
  max-width: 250px;
  width: 100%;
}

.header-buttons a .btn {
  border-radius: 50px;
  letter-spacing: .5px;
  font-size: 18px;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.header-buttons a:first-child .btn {
  color: #fff;
  background-color: #f191a6;
}

.header-buttons a:last-child .btn {
  color: #b20932;
  border: 1px solid #b20932;
  background-color: transparent;
}

.certificates {
  background-color: #f191a6;
  border-radius: 15px;
  padding: 20px;
}

.certificates img {
  background-color: #fff;
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */