@font-face {
  font-family: 'iCiel Koni';
  src: url("assets/font/iCielKoni-Black.eot");
  src: url("assets/font/iCielKoni-Black.eot?#iefix") format("embedded-opentype"), url("assets/font/iCielKoni-Black.woff") format("woff"), url("assets/font/iCielKoni-Black.ttf") format("truetype"), url("assets/font/iCielKoni-Black.svg#iCielKoni-Black") format("svg");
}

@font-face {
  font-family: 'SVN-Avo';
  src: url("assets/font/SVN-Avo.eot");
  src: url("assets/font/SVN-Avo.eot?#iefix") format("embedded-opentype"), url("assets/font/SVN-Avo.woff") format("woff"), url("assets/font/SVN-Avo.ttf") format("truetype"), url("assets/font/SVN-Avo.svg#SVN-Avo") format("svg");
}

@font-face {
  font-family: 'SVN-Avo-I';
  src: url("assets/font/SVN-Avoitalic.eot");
  src: url("assets/font/SVN-Avoitalic.eot?#iefix") format("embedded-opentype"), url("assets/font/SVN-Avoitalic.woff") format("woff"), url("assets/font/SVN-Avoitalic.ttf") format("truetype"), url("assets/font/SVN-Avoitalic.svg#SVN-Avoitalic") format("svg");
}

@font-face {
  font-family: 'SVN-Avo-BI';
  src: url("assets/font/SVN-Avobolditalic.eot");
  src: url("assets/font/SVN-Avobolditalic.eot?#iefix") format("embedded-opentype"), url("assets/font/SVN-Avobolditalic.woff") format("woff"), url("assets/font/SVN-Avobolditalic.ttf") format("truetype"), url("assets/font/SVN-Avobolditalic.svg#SVN-Avobolditalic") format("svg");
}

@font-face {
  font-family: 'SVN-Avo-B';
  src: url("assets/font/SVN-Avobold.eot");
  src: url("assets/font/SVN-Avobold.eot?#iefix") format("embedded-opentype"), url("assets/font/SVN-Avobold.woff") format("woff"), url("assets/font/SVN-Avobold.ttf") format("truetype"), url("assets/font/SVN-Avobold.svg#SVN-Avobold") format("svg");
}

@font-face {
  font-family: 'SVN-Bebas Neue';
  src: url("assets/font/SVN-BebasNeue.eot");
  src: url("assets/font/SVN-BebasNeue.eot?#iefix") format("embedded-opentype"), url("assets/font/SVN-BebasNeue.woff") format("woff"), url("assets/font/SVN-BebasNeue.ttf") format("truetype"), url("assets/font/SVN-BebasNeue.svg#SVN-BebasNeue") format("svg");
}

@font-face {
  font-family: 'SVN-Bebas Neue-Book';
  src: url("assets/font/SVN-BebasNeueBook.eot");
  src: url("assets/font/SVN-BebasNeueBook.eot?#iefix") format("embedded-opentype"), url("assets/font/SVN-BebasNeueBook.woff") format("woff"), url("assets/font/SVN-BebasNeueBook.ttf") format("truetype"), url("assets/font/SVN-BebasNeueBook.svg#SVN-BebasNeueBook") format("svg");
}

@font-face {
  font-family: 'SVN-Bebas Neue-L';
  src: url("assets/font/SVN-BebasNeueLight.eot");
  src: url("assets/font/SVN-BebasNeueLight.eot?#iefix") format("embedded-opentype"), url("assets/font/SVN-BebasNeueLight.woff") format("woff"), url("assets/font/SVN-BebasNeueLight.ttf") format("truetype"), url("assets/font/SVN-BebasNeueLight.svg#SVN-BebasNeueLight") format("svg");
}

@font-face {
  font-family: 'SVN-Bebas Neue-B';
  src: url("assets/font/SVN-BebasNeueBold.eot");
  src: url("assets/font/SVN-BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("assets/font/SVN-BebasNeueBold.woff") format("woff"), url("assets/font/SVN-BebasNeueBold.ttf") format("truetype"), url("assets/font/SVN-BebasNeueBold.svg#SVN-BebasNeueBold") format("svg");
}

.iciel, body, .statement-container h4 {
  font-family: 'iCiel Koni';
}

.avo, .statement-container .statement li {
  font-family: 'SVN-Avo';
}

.avo-i {
  font-family: 'SVN-Avo-I';
}

.avo-bi {
  font-family: 'SVN-Avo-BI';
}

.avo-b {
  font-family: 'SVN-Avo-B';
}

.bebas {
  font-family: 'SVN-Bebas Neue';
}

.bebas-book {
  font-family: 'SVN-Bebas Neue-Book';
}

.bebas-light {
  font-family: 'SVN-Bebas Neue-L';
}

.bebas-b {
  font-family: 'SVN-Bebas Neue-B';
}

.text-accent {
  color: #f191a6 !important;
}

.btn-accent {
  color: white;
  background-color: #f191a6 !important;
}

.btn-outline-accent {
  color: #f191a6 !important;
  border-color: #f191a6 !important;
}

.btn-outline-accent:hover {
  color: white !important;
  background-color: #f191a6 !important;
}

.bg-accent {
  background-color: #f191a6 !important;
}

.text-primary {
  color: #b20932 !important;
}

.btn-primary {
  color: white;
  background-color: #b20932 !important;
}

.btn-outline-primary {
  color: #b20932 !important;
  border-color: #b20932 !important;
}

.btn-outline-primary:hover {
  color: white !important;
  background-color: #b20932 !important;
}

.bg-primary {
  background-color: #b20932 !important;
}

.text-muted {
  color: #626262 !important;
}

.btn-muted {
  color: white;
  background-color: #626262 !important;
}

.btn-outline-muted {
  color: #626262 !important;
  border-color: #626262 !important;
}

.btn-outline-muted:hover {
  color: white !important;
  background-color: #626262 !important;
}

.bg-muted {
  background-color: #626262 !important;
}

.text-white {
  color: #fff !important;
}

.btn-white {
  color: white;
  background-color: #fff !important;
}

.btn-outline-white {
  color: #fff !important;
  border-color: #fff !important;
}

.btn-outline-white:hover {
  color: white !important;
  background-color: #fff !important;
}

.bg-white {
  background-color: #fff !important;
}

.text-light-accent {
  color: #ffeff3 !important;
}

.btn-accent {
  color: white;
  background-color: #ffeff3 !important;
}

.btn-light-outline-accent {
  color: #ffeff3 !important;
  border-color: #ffeff3 !important;
}

.btn-light-outline-accent:hover {
  color: white !important;
  background-color: #ffeff3 !important;
}

.bg-light-accent {
  background-color: #ffeff3 !important;
}

.text-light-primary {
  color: #e54d6c !important;
}

.btn-primary {
  color: white;
  background-color: #e54d6c !important;
}

.btn-light-outline-primary {
  color: #e54d6c !important;
  border-color: #e54d6c !important;
}

.btn-light-outline-primary:hover {
  color: white !important;
  background-color: #e54d6c !important;
}

.bg-light-primary {
  background-color: #e54d6c !important;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container-fluid {
  padding: 0 !important;
}

.container-fluid .container-content {
  max-width: 66%;
  width: 100%;
  margin: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.italic {
  font-style: italic;
}

section.nav-container {
  background-image: url("/assets/brand/bg-nav.jpg");
  background-size: 100% auto;
  background-position: 60% 20%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100% !important;
}

section.product-container {
  background-image: url("/assets/brand/bg-product.jpg");
  background-size: 100% auto;
  background-position: 60% 20%;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100% !important;
}

h1.cadum {
  font-size: 80px;
}

button.btn:active, button.btn:focus {
  outline: 0 !important;
}

.nav-buttons .btn {
  color: #fff;
  text-shadow: 3px 3px 4px rgba(150, 150, 150, 0.88);
  margin: 0 10px;
  font-size: 24px;
  width: 100px;
  font-weight: normal;
  border: 0 !important;
  border-radius: 0 !important;
}

.nav-buttons .btn:hover {
  background: #b20932;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(47%, #b20932), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, #b20932 47%, rgba(0, 0, 0, 0) 100%);
  color: white !important;
  opacity: 0.8;
  -webkit-transition: background 0.15s linear;
  transition: background 0.15s linear;
}

.product-button a .btn {
  border-radius: 50px;
  letter-spacing: .5px;
  font-size: 18px;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  color: #fff;
  background-color: #f191a6;
}

.statement-container {
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(98, 98, 98, 0.5);
  box-shadow: 0px 0px 16px 0px rgba(98, 98, 98, 0.5);
}

.statement-container h4 {
  width: 100%;
  max-width: 65%;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #fff;
  background-color: #3E7EBE;
  border-radius: 0 0 30px 30px;
}

.statement-container .statement {
  list-style-image: url("/assets/misc/tick.png");
}

.statement-container .statement.no {
  list-style-image: url("/assets/misc/checkbox-no.png");
}

.statement-container.no h4 {
  background-color: #f191a6;
}

.header-buttons {
  max-width: 250px;
  width: 100%;
}

.header-buttons a .btn {
  border-radius: 50px;
  letter-spacing: .5px;
  font-size: 18px;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.header-buttons a:first-child .btn {
  color: #fff;
  background-color: #f191a6;
}

.header-buttons a:last-child .btn {
  color: #b20932;
  border: 1px solid #b20932;
  background-color: transparent;
}

.certificates {
  background-color: #f191a6;
  border-radius: 15px;
  padding: 20px;
}

.certificates img {
  padding: 10px;
}

.divider div {
  width: 1px;
  border-right: 1px solid #f191a6;
}

.consult-header {
  color: #E2C2C7 !important;
}

#contact {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
}

#contact .container-content {
  max-width: 600px;
  width: 100%;
  margin: auto;
  color: white;
  background-color: #e54d6c;
  border-radius: 30px 30px 0 0;
}

#contact .cta-button {
  border-radius: 50px;
}

#contact .cta-button.facebook {
  padding: .46875rem 54px;
}

#contact-form input:focus, #contact-form textarea:focus {
  outline: none !important;
}

#contact-form .bmd-label-floating {
  color: #626262;
}

#contact-form .col-6, #contact-form .col-12 {
  margin-bottom: 10px;
}

#contact-form form {
  max-width: 60%;
  width: 100%;
  margin: auto;
}

#contact-form button {
  border-radius: 50px !important;
  padding-left: 40px;
  padding-right: 40px;
}

#footer {
  padding-bottom: 100px !important;
}

#footer hr {
  max-width: 20%;
  width: 100%;
  margin: auto;
  border-color: #b20932 !important;
  background-color: #b20932 !important;
}

#footer a {
  color: #b20932;
}

#footer p {
  margin-bottom: 10px;
}

#footer .icons i {
  font-size: 32px;
  padding-left: 20px;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 0;
  border-right: 2px dashed #f191a6;
  margin: 0 auto;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li:nth-child(odd)::after {
  background-color: #f191a6;
}

.timeline ul li:nth-child(even)::after {
  background-color: #626262;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 300px;
  padding: 15px;
}

.timeline ul li div::before {
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  padding-left: 0;
  left: 45px;
}

.timeline ul li:nth-child(even) div {
  padding-right: 0;
  left: -339px;
  text-align: right;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}
/*# sourceMappingURL=style.css.map */